<div class="pensamento ff-roboto-mono {{ thought.model }}" [ngClass]="thoughtWidth()">
  <img src="/assets/images/{{ thought.model }}.png" alt="Aspas coloridas" />
  <p class="conteudo">{{ thought.content }}</p>
  <p class="autoria">
    <b>{{ thought.authorship }}</b>
  </p>
  <div class="acoes">
    <button class="botao-favorito" (click)="updateFavorite()">
      <img src="/assets/images/icone-favorito-{{ getIsFavorite() }}.png" alt="Ícone favorito {{ getIsFavorite() }}" />
    </button>
    <button class="botao-editar" routerLink="/edit-thought/{{ thought.id }}">
      <img src="/assets/images/icone-editar.png" alt="Ícone editar" />
    </button>
    <button class="botao-excluir" routerLink="/delete-thought/{{ thought.id }}">
      <img src="/assets/images/icone-excluir.png" alt="Ícone excluir" />
    </button>
  </div>
</div>