<section class="container criar-pensamentos ff-inter">
  <header class="header">
    <h2>Adicione um <br />pensamento novo:</h2>
  </header>
  <form [formGroup]="form">
    <label for="pensamento">
      Pensamento
    </label>
    <input type="textarea" class="input" id="pensamento" formControlName="content" placeholder="Digite o pensamento" />
    <div class="mensagem__erro" *ngIf="form.get('content')?.errors?.['required'] && form.get('content')?.touched">
      Pensamento é obrigatório!
    </div>
    <label for="autoria">
      Autoria ou fonte
    </label>
    <input type="textarea" class="input" id="autoria" formControlName="authorship" placeholder="Digite o autoria" />
    <div class="mensagem__erro" *ngIf="form.get('authorship')?.errors?.['required'] && form.get('authorship')?.touched">
      Autoria é obrigatória!
    </div>
    <div class=" mensagem__erro"
      *ngIf="form.get('authorship')?.errors?.['minlength'] && form.get('authorship')?.touched">
      Autoria precia conter, no mínimo, 3 caracteres!
    </div>
    <label for=" modelo">
      Selecione o modelo do card:
    </label>
    <div class="container-radio">
      <div *ngFor="let model of models" class="radio-modelo">
        <label for="{{model.id}}">
          <input type="radio" id="{{model.id}}" value="{{ model.id }}" formControlName="model" />
          <div class="custom-radio">
            <span></span>
          </div>
          <span>{{model.label}}</span>
        </label>
        Prévia:
        <div class="modelo {{model.class}} ff-roboto-mono">
          <img src="../../../../assets/images/{{model.image}}.png" alt="{{model.imgAlt}}">
          <p class="conteudo">{{ form.get('content')?.value }}</p>
          <p class="autoria">
            <b>{{ form.get('authorship')?.value }}</b>
          </p>
        </div>
      </div>
    </div>
    <div class="acoes">
      <button type="submit" (click)="createThought()" class="botao" [disabled]="!form.valid"
        [ngClass]="enableButton()">Salvar</button>
      <button type="reset" routerLink="/list-thought" class="botao">Cancelar</button>
    </div>
  </form>
</section>
